[v-cloak] {
  display: none;
}

html,
body {
  margin: 0px;
}

.h100 {
  height: 100vh;
}
.font12 {
  font-size: 12px;
}
.title1 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.primary {
  color: #369;
}

.danger {
  color: #e9292c;
}

ul,
ol,
li {
  margin: 0;
  list-style: none;
  padding: 0;
}

.radius {
  border-radius: 5px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.t-c {
  text-align: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-col {
  flex-direction: column;
}

.flex1 {
  flex: 1;
}

.j-c {
  justify-content: center;
}

.j-s {
  justify-content: space-between;
}

.a-c {
  align-items: center;
}

.a-s {
  align-content: space-between;
}

.underline {
  text-decoration: underline;
}

.ant-table-body {
  &::-webkit-scrollbar {
    width: 8px;
    height: 1px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #dfe1e2;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #f7f7f7;
  }
}
.un-suggestion {
  color: #ccc;
}
